@import '../../../sass/colors';
@import '../../../sass/resposiveSize';


.container-plans {
    width: 100%;
    height: 100vh;
    padding-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./images/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include media(md) {
        padding-top: 20%;
    }
}

.logo {

    width: 17vw;
    margin-top: 6vh;


}

.logo1 {

    width: 17vw;
    margin-top: 6vh;

    @include media(md) {
        display: none;
    }
}

button {
    border: none;
    padding: 1vh 5vw;
    background-color: #D67165;
    border-radius: 20px;
    color: white;
}

button>a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

h3 {
    margin-top: 5vh;
    margin-bottom: 2vh;
    color: #fe5864;
}

p:nth-child(3) {

    margin-top: 1vh;
    margin-top: 1vh;
}

p:nth-child(5) {
    margin-bottom: 0;
    margin-top: 3vh;
}


.link {
    margin-top: 2vh;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    width: 50vw;
    padding: 2vh;
    font-weight: 900;
}

.link>a {
    text-decoration: none;
    color: #ff6a82;

}

.networks {
    display: flex;
    justify-content: center;
}

.networks>a {
    text-decoration: transparent;
    text-align: center;
}

.networks>a>img {
    width: 80%;
    margin-top: 2vh;
}

.page {
    text-decoration: none;
    color: #ff6a82;
}