@import '../../sass/colors';
@import '../../sass/resposiveSize';

.container-burger {
    display: none;
    cursor: pointer;

    button {
        border: none;
        background-color: transparent;
    }

    @include media(md) {
        display: inline-block;
        right: 0;
        margin-right: 2%;
        position: absolute;
    }

    .bar1,
    .bar2,
    .bar3 {
        border-radius: 20px;
        width: 25px;
        height: 4px;
        background-image: linear-gradient($gradientColorTop, $gradientColorBottom);
        margin: 3px 0;
        transition: 0.4s;
    }

    &.change {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 7px);
            transform: rotate(-45deg) translate(-9px, 7px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-3px, -1px);
            transform: rotate(45deg) translate(-3px, -1px);
        }
    }
}