@import '../../sass/colors';
@import '../../sass/resposiveSize';

.container-layout {
    display: flex;
    flex-direction: row;
    position: relative;

    /* SIDEBAR STYLE */
    .container-sidebar {
        background-image: linear-gradient(90deg, $gradientColorBottom 0%, $gradientColorTop 100%);
        position: fixed;
        width: 5.5rem;
        height: 100vh;
        padding: 0.9rem;
        display: flex;
        flex-direction: column;
        position: sticky;
        transition: width 0.7s;
        top: 0;
        left: 0;

        .logo-sidebar {
            .button {
                display: none;
            }

            &::before {
                content: '';
                background: url('../../images/redajo.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 7vw;
                height: 7vh;
                display: block;

            }
        }



        &:hover {
            width: 20rem;

            .logo-sidebar {
                display: flex;
                justify-content: center;
                flex-direction: row;

                .button {
                    width: 3vw;
                    height: 5vh;
                    position: absolute;
                    top: 13px;
                    right: 29px;
                    display: block;
                    cursor: pointer;
                }

                &::before {
                    content: '';
                    background: url('../../images/white_logo.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 15rem;
                    margin-left: 1rem;
                    display: block;

                }

                &::after {
                    content: '';
                    background: url('../../images/redlk2.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 3rem;
                    height: 3rem;
                    margin-left: 1rem;
                    display: block;

                }
            }

        }
    }

    .container-sidebar.active {
        background-image: linear-gradient(90deg, $gradientColorBottom 0%, $gradientColorTop 100%);
        position: sticky;
        width: 20rem;
        padding: 0.9rem;
        display: flex;
        top: 0;
        left: 0;

        .logo-sidebar {
            display: flex;
            justify-content: center;
            flex-direction: row;

            .button {

                width: 3vw;
                height: 5vh;
                position: absolute;
                top: 13px;
                right: 29px;
                display: block;
                cursor: pointer;
            }

            &::before {
                content: '';
                background: url('../../images/white_logo.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 15rem;
                margin-left: 1rem;
                display: block;

            }

            &::after {
                content: '';
                background: url('../../images/redlk2.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 3rem;
                height: 3rem;
                margin-left: 1rem;
                display: block;

            }
        }
    }

    .container-content {}

}