@import '../../../../../sass/colors';
@import '../../../../../sass/resposiveSize';

.company-container-five {
    height: 70vh;
    width: 100%;
    position: relative;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    padding-left: 5%;

    @include media(md) {
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .picture {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media(md) {
            width: 100%;
            height: auto;
            order: 2;
        }

        img {

            height: auto;
            width: 100%;
            position: absolute;
            z-index: 15;

            @include media(md) {
                position: relative;
                height: auto;

            }
        }


    }

    .text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: auto;
        padding-right: 2%;
        padding-top: 3%;
        padding-bottom: 3%;

        @include media(md) {
            padding: 5% 5% 0 5%;
            width: 100%;
            height: auto;
            order: 1
        }
    }
}