@import '../../../../sass/colors';

button {
    &.confirm-button {
        border: transparent;
        background-color: $navButton;
        border-radius: 50px;
        color: white;
        padding: 5px 2em;
        margin: 20px 2em;
        font-size: 12px;
        outline: none !important;
    }

    &.cancel-button {
        border: transparent;
        background-color: $navButton;
        border-radius: 50px;
        color: white;
        padding: 5px 2em;
        margin: 20px 2em;
        font-size: 12px;
        outline: none !important;
    }
}

.forgot-pass {
    cursor: pointer;

    &:hover {
        color: white;
        font-weight: 700;
    }
}