@import '../../../sass/colors';
@import '../../../sass/resposiveSize';

.container-solutions {
    padding-top: 60px;
    background-image: url('../../../images/solutions/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #424242;


    @include media(md) {
        padding-top: 20%;
    }
}